@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   font-weight: 600;
   list-style: none;
}

body {
    background: #eaeff3;
}

#wave {
    background-repeat: no-repeat;
    height: 100%;
    background-image:  url(/assets/img/wave.svg);
    background-size: cover;
}

.text-wave {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: x-large;
    
}

#home-wave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.text-home {
    font-size: large;
    margin-top: 25rem;
    width: 350px;
}

.img-home {
    width: 100%;
    max-width: 550px;
}

p {
    color: #707070;
}

.titulo-2 {
    text-align: center;
    margin: 10rem;
}

#about-home {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    background: url(/blob/blob\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.text-about {
    font-size: large;
    width: 350px;
}

.about-img {
     width: 100%;
     max-width: 550px;
}

button {
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #eaeff3;
    margin-top: 10px;
    cursor: pointer;
    font-size: large;
}

h1 {
    color: #5ca9e9;
}

.titulo-3 {
    text-align: center;
    margin: 10rem;
}

#fit-home {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
     background: url(/blob/blob\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: grid;
    justify-content: center;
    margin: 1rem;
    height: 100%;
}


.card-body {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    background: #eaeff3;
    max-width: 450px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;}

.card-body h2 {
    color: #5ca9e9;
}

#copy {
    align-items: center;
    border-top: solid 1px #707070;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin:  0 auto;
    justify-content: space-between;
    margin-top: 2rem;
}

#copy div {
    width: 200px;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #707070;
}

li {
    margin: 1rem;
}

